# Core functionality - changes here should be rare!
/src/app.py                   @alan-grillo
/src/backend/database.py      @alan-grillo
/src/backend/routers/auth.py  @alan-grillo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @alan-grillo
